<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!-- SQL Server Production -->
    <add name="DatabaseConnectionString" connectionString="Data Source=mssql2008.reliablesite.net,14333,14333;Initial Catalog=facebook;Persist Security Info=True;User ID=nirveek_de;Password=Ns711101"
          providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="CanvasUrl" value="http://fashionKred.com/look.aspx?fb=1"></add>
    <!--<add key="CanvasUrl" value="http://localhost:17544/FashionKred/look.aspx?fb=1"></add>-->
    <add key="Environment" value="Production" />
    <add key="Retailer" value="1"/>
    <add key="cat1" value ="evening-dresses"/>
    <add key="cat2" value ="evening-shoes"/>
    <add key="AppId" value="155821997899161"></add>
    <add key="ContestString" value="NORDSTROM EVENING OUTFIT CONTEST"/>
    <add key="ContestSubString" value="VOTE OR CREATE YOUR OWN LOOK"/>
    <add key="ContestImage" value="images/nordstrom.png"/>
    <add key="ContestId" value="4"/>
    <add key="AppSecret" value="726ce6b86758dc53c06f86e16414140f"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <pages enableSessionState="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />

      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
